[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
autopep8 = "*"
pylint = "*"
djangorestframework = "*"
pylint-django = "*"
pytest-django = "*"

[dev-packages]

[requires]
python_version = "*"

[scripts]
test = "python3 manage.py test"
